.eisenhower-matrix {
  width: 500px;
  height: 960px;
  background: #141722;
  border-radius: 15px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  font-size: 26px;
  font-family: 'Inter';
  font-weight: 600;
  word-wrap: break-word;
  position: absolute;
  top: 10px;
  left: 20px;
}

.horizontal-line {
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background: white;
  top: 255px;
  left: 15px;
}

.vertical-line {
  position: absolute;
  height: calc(50% - 100px);
  width: 1px;
  background: white;
  top: 77px;
  left: 50%;
  transform: translateX(-50%);
}

.central {
  position: absolute;
  height: calc(50% - 100px);
  /* width: 1px; */
  /* background: white; */
  top: 215px;

  /* font-size: 320px; */
  /* left: 50%; */
}

  
.central:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* 添加阴影效果 */
    opacity: 0.8; 

  }
  

.quadrant {
  position: absolute;
}

.quadrant:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 15px rgba(244, 242, 242, 0.6); /* 添加阴影和高光效果 */
  cursor: pointer;
}


.top-left-quadrant {
  top: 74px;
  left: 30px;
}

.top-right-quadrant {
  top: 74px;
  right: 30px;
}

.bottom-left-quadrant {
  top: 285px;
  left: 30px;
}

.bottom-right-quadrant {
  top: 285px;
  right: 30px;
}

.text {
  color: white;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 600;
  position: absolute;
  top: 160px;
  left: 0px;
}



.impo{
  position: absolute;
  left: 212px;
  top: 50px;
  color: white;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 600;
}

.matList {
  position: absolute;
  left: 10px;
  bottom: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding: 0 10px; */
  box-sizing: border-box;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  position: absolute; 
  top: 465px; 
  left: 30px; 
}


.input-container input {
  width: 400px; 
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px; 
}


.input-container button {
  margin-left: 20px;
  width: 40px; 
  height: 40px; 
  background: url('../assets/search.png') no-repeat center center; 
  background-size: cover; 
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.input-container button:hover {
  transform: scale(1.1); 
}


