.eisenhower-matrix {
  width: 500px;
  height: 960px;
  background: #141722;
  border-radius: 15px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  font-size: 26px;
  font-family: 'Inter';
  font-weight: 600;
  word-wrap: break-word;
  position: absolute;
  top: 10px;
  left: 20px;
}

.horizontal-line {
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background: white;
  top: 255px;
  left: 15px;
}

.vertical-line {
  position: absolute;
  height: calc(50% - 100px);
  width: 1px;
  background: white;
  top: 77px;
  left: 50%;
  transform: translateX(-50%);
}

.quadrant {
  position: absolute;
}

.top-left-quadrant {
  top: 74px;
  left: 30px;
}

.top-right-quadrant {
  top: 74px;
  right: 30px;
}

.bottom-left-quadrant {
  top: 285px;
  left: 30px;
}

.bottom-right-quadrant {
  top: 285px;
  right: 30px;
}

.text {
  color: white;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 600;
  position: absolute;
  top: 160px;
  left: 0px;
}



.impo{
  position: absolute;
  left: 212px;
  top: 50px;
  color: white;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 600;
}

.matList {
  position: absolute;
  left: 10px;
  bottom: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding: 0 10px; */
  box-sizing: border-box;
}