.info-form-container {
  width: 1800px;
  height: 955px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141722;

  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.bg-color{
  background-color: #141722;
  width: 1200px;
  height: 568px;
  position: absolute;
}

.info-form-picture {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 70px;
}

.info-form-picture-frame {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-form-picture-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.info-form-row {
  display: flex;
  justify-content: space-between;
  width: 800px;
  position: absolute;
  top: 320px;
}

.info-form-field {
  width: 360px;
  position: relative;
}

.info-form-label {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

.info-form-input {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  border: 1px solid #E5E5ED;
  border-radius: 9px;
  padding-left: 10px;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  color: #768396;
  background: transparent;
}

.email-field {
  width: 800px;
  position: absolute;
  top: 450px;
  left: 500px;
}

.info-form-input-with-icon {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 28px;
  border: 1px solid #E5E5ED;
  border-radius: 9px;
  padding-left: 10px;
}

.info-form-icon {
  width: 17px;
  height: 14px;
  /* background: #232360; */
  margin-right: 10px;
}

.email-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  color: #768396;
  background: transparent;
}

.info-form-logout-button {
  width: 350px;
  height: 60px;
  background: #EF8354;
  border: 1px solid transparent;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  left: 730px;
  top: 650px;
}

.info-form-input-em {
  width: 100%;
  height: 45px;
  /* margin-top: 24px; */
  /* border: 1px solid #E5E5ED; */
  border-radius: 9px;
  padding-left: 10px;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  color: #768396;
  background: transparent;
}
