* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden; /* 防止页面滚动 */
}

.login-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw; /* 使用视口宽度 */
}

.login-image-container {
  flex: 7; /* 70% 宽度 */
  height: 100%; /* 确保高度为100% */
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form-container {
  flex: 3; /* 30% 宽度 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 125px 48px 171px 48px;
  background: white;
  height: 100%; /* 确保高度为100% */
  overflow: hidden; /* 防止内容溢出 */
}

.login-logo-container {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  width: 100%; /* 使其充满父容器的宽度 */
  height: 150px; /* 调整高度以适应较大的 logo */
  margin-bottom: 48px;
}

.login-logo {
  width: 100%; /* 使其根据父容器的大小进行缩放 */
  max-width: 300px; /* 设置最大宽度 */
  height: auto; /* 保持纵横比 */
}

.background-shapes .shape {
  position: absolute;
  background: #F4BE4B;
}

/* 添加其他样式，如输入框、按钮等 */
