.menu-container {
  width: 90px;
  height: 100vh;
  position: relative;
  background: #4F5D75;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  overflow: hidden;
}

.menu-background {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.menu-logo {
  width: 64px;
  height: 60px;
  margin-bottom: 40px;
}

.menu-item {
  position: relative;
  width: 90px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.menu-icon {
  margin-bottom: 8px;
  z-index: 2;
}

.menu-text {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  z-index: 2;
}

.menu-item-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #2D3142; */
  border-radius: 30px;
  z-index: 1;
  top: -20px;
  right: -6.8px;
}
